{{template "base" .}}

{{define "content"}}

    <div class="contianer">
        <div class="row">
            <div class="col">
                <h1>This is the Home Page</h1>
            </div>
        </div>
    </div>
    
{{end}}