{{template "base" .}}
{{define "content"}}
<div class="container">
    <h1>Make a Reservation</h1>
    <h6><em>Reservation details</em></h6>
    <form class="row g-3" method="post" novalidate action="">
        <input type="hidden" value="{{.CSRFToken}}" name="csrf_token">


        <div class="col-md-6">
            {{with .Form.Errors.Get "first_name"}}
                <label class="text-bg-danger">{{.}}</label>
            {{end}}
            <label for="first_name"></label><input type="text" required class="form-control" id="first_name" placeholder="First Name">
        </div>
        <div class="col-md-6">
            <label for="last_name"></label><input type="text" required class="form-control" id="last_name" placeholder="Last Name">
        </div>
        <div class="col-md-6">
            <label for="email_address"></label><input type="email" required class="form-control" id="email_address" placeholder="Email Address">
        </div>
        <div class="col-md-6">
            <label for="mobile"></label><input type="tel" required class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="mobile" placeholder="Mobile Number: 123-456-7890">
        </div>

        <div class="col-12">
            <button type="submit"  id="make-reservation" class="btn btn-primary" >Make Reservation</button>
        </div>
    </form>
</div>

{{end}}
